@charset "utf-8";
/*----------------v8皮肤-----------------*/
body{ background:#f6f6eb; margin:20px auto; }
a{ color:#e57013;}
a:hover { background:#e57013; color:#fff;}
input[type='button']:hover { background:#e57013;}
#header{ height:80px; background: url(v8.jpg) no-repeat left top #FFFFFF; border: 9px #970000 solid; border-bottom: solid 1px; padding: 12px 8px; position:relative;}
#header .version{ /*position:absolute; right:15px; bottom:10px;*/ font-size:12px; padding-top:33px; padding-right:5px; height:12px;}
#content{ background:#fff; border-right: 9px #970000 solid; border-bottom:0px #e57013 solid; padding:5px 10px 20px 10px;}
#footer{ background: #970000; border: 1px #970000 solid; border-top:none; padding-right: 8px;}
#navi{ background: #FFFFFF; border-left: 9px #970000 solid; border-bottom:0; border-right: 1px solid #000; width: 160px; padding: 0px;}
#navi a{ color: #0C0909; text-decoration:none; border-bottom: #FFF solid 1px; background: #E6E6E6; display:block;}
#navi a:hover { background: #C5C5C5; text-decoration:underline; border-bottom: #fff solid 1px;}
#navi .active{ background:#e57013;}
#navi a.indent1{ background: #C4C4C4; color: #000; padding:4px 0 4px 10px;}
#navi a.active2{ background: #CECECE; border-bottom: #FFF solid 1px; color: #000000; padding:4px 0 4px 25px;}
#container{ width:980px; margin-bottom: 10px;}
#header .title, #header .version { text-align:right;}
ul.tabs a.active, #tabs a.active{ background: #738fc1;}
ul.tabs a:hover, #tabs a:hover { background: #738fc1;}
.section-title{ font-weight:bold; color:#e57013;}
.section { padding-left:0;}
table.fields { width:786px; border: 1px solid #dadada; margin-bottom:5px;}
.fields td.title.indent1 {text-align:right;}
.fields td.title.indent2 {text-align:right; padding-right:15px;}
.fields td.content{ padding-left:10px;}
#dev-grid .header td,.bwmg .header td{ text-align:center;padding:3px 0px;}
#bottom{ text-align:center; padding:15px 0; color:#666;}






